:root {
  --red: #c5004a;
  --darkred: #7f0036;
  --lightgray: #e0e0e0;
  --gray: #c0c0c0;
  --darkgray: #0c0b31;
  --navy: #17050f;
  --blue: #082840;
  --white: #fff;
  --purple: #8b37ff;
  --max-mobile: 420px;
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
  text-rendering: optimizeLegibility;
}

li a {
  text-decoration: none;
}

.tmpl-home {
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  margin: 0;
}

.header {
  position: relative;
  width: 100%;
  height: 80px;
  padding: 0 16px;
  background: #fff;
  border-bottom: 1px solid #ebebeb;
  z-index: 50;
}
@media only screen and (min-width: 420px) {
  .header {
    padding: 0 32px;
  }
}

.header img {
  float: left;
  margin: 8px;
  padding: 0;
  color: #000;
  height: 64px;
}

.header nav {
  float: right;
  font-size: 100%;
}

.header nav a {
  display: inline-block;
  height: 56px;
  line-height: 56px;
  padding: 0 15px;
  min-width: 50px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
  background: rgba(0, 0, 0, 0.2);
}

.header nav a.active {
  background: rgba(0, 0, 0, 0.4);
}

.home.hero {
  position: relative;
  width: 100vw;
  padding: 0;
  margin: 0;
  height: calc(100vh - 80px);
}
@media (min-width: 420px) {
  .home.hero {
    height: 600px;
  }
}

.home.hero > img {
  display: block;
  width: 100vw;
  height: calc(100vh - 80px);
  filter: blur(4px);
  opacity: 0.8;
  object-fit: cover;
  object-position: top;
}
@media (min-width: 420px) {
  .home.hero > img {
    height: 600px;
    filter: blur(4px);
    opacity: 0.9;
  }
}

.hero > .copy {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  color: var(--darkgray);
  padding: 0px 16px;
}
@media only screen and (min-width: 420px) {
  .hero > .copy {
    transform: none;
    top: 13%;
    width: 100%;
    text-align: center;
    transform: none;
    padding: 0px 32px;
  }
}

.hero > .copy > .heading {
  font-size: 46px;
  font-weight: 800;
  line-height: 52px;
  margin: 0px;
  padding: 0px;
}

.hero > .copy > h1 > .subheading {
  font-size: 46px;
  font-weight: 600;
  line-height: 52px;
  margin: 0px;
  padding: 0px;
}

/* Latest stories*/
.latest-stories {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

.latest-stories h2 {
  width: 100%;
  padding-left: 24px;
  font-size: 32px;
  line-height: 1.375;
  font-weight: 600;
  padding-top: 64px;
  margin-bottom: 48px;
  border-top: 1px solid #ebebeb;
}

/* Tags */
.tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}

a[href].tag,
a[href].tag:visited {
  color: #fff;
}

.tmpl-post {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px 32px;
  color: #222222;
  position: relative;
}

.tmpl-post article {
  width: 100%;
  margin: 0 auto;
}

.tmpl-post article header {
  margin-bottom: 44px;
  display: flex;
  flex-direction: column-reverse;
  border-bottom: 2px solid #f4f4fa;
  padding-bottom: 16px;
}
@media only screen and (min-width: 420px) {
  .tmpl-post article header {
    display: flex;
    flex-direction: row;
  }
}

.tmpl-post article header .date-container {
  display: flex;
  flex-direction: row;
  font-weight: 300;
  font-size: 14px;
}
@media only screen and (min-width: 420px) {
  .tmpl-post article header .date-container {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 1.2em;
    font-weight: 700;
    align-items: center;
    width: 192px;
  }
}

.tmpl-post article header .date-container .day {
  font-weight: 300;
  font-size: 14px;
  margin: 0px 4px;
}
@media only screen and (min-width: 420px) {
  .tmpl-post article header .date-container .day {
    font-size: 80px;
    line-height: 84px;
    margin: 0px 0px;
    font-weight: 600;
  }
}

.tmpl-post article header .heading-container {
  font-size: 80px;
  line-height: 84px;
  width: 712px;
  max-width: 100%;
}

/* @media only screen and (min-width: 420px) {
  .tmpl-post article header .heading-container {
    border-bottom: 8px solid #f4f4fa;
  }
} */

.tmpl-post article header h1 {
  font-size: 46px;
  font-weight: 600;
  line-height: 1.3;
  margin: 0px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

.tmpl-post article header .heading-container .info {
  font-size: 14px;
  line-height: 22px;
  margin: 0px;
}

.tmpl-post .content {
  margin: 0 auto;
}
@media only screen and (min-width: 420px) {
  .tmpl-post .content {
    margin-left: 192px;
  }
}

.tmpl-post p {
  font-size: 18px;
  line-height: 1.67;
  width: 100%;
  max-width: 100%;
}

.tmpl-post figure {
  width: 100%;
  max-width: 712px;
  margin: 0px;
}

.tmpl-post figure img {
  width: 100%;
  max-width: 712px;
  object-fit: contain;
  margin: 0px;
}

.tmpl-post article .content .editors-note {
  background-color: rgba(139, 55, 255, 0.1);
  padding: 8px;
  margin: 0 -32px;
}

@media only screen and (min-width: 420px) {
  .tmpl-post article .content .editors-note {
    margin: 0px;
  }
}

.tmpl-post article .content .editors-note h3 {
  color: #8b37ff;
  padding: 0px 32px;
}

.tmpl-post article .content .editors-note p {
  padding: 0 32px;
  max-width: 100%;
}

.story-list {
  width: 100%;
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: repeat( auto-fit, minmax(415px, 1fr) );
  margin: 0 auto;
  background-color: white;
  padding: 0px;
}

.story-list li {
  list-style: none;
}

.story-card {
  width: 415px;
  max-width: 100vw;
  padding: 0px 24px 24px;
  color: #222222;
}

.story-card img {
  width: 100%;
  height: 415px;
  object-fit: cover;
  object-position: center;
}
.story-card h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.story-card .body {
  font-size: 16px;
  line-height: 28px;
  height: 112px;
  overflow: hidden;
}
