---
layout: layouts/base.njk
templateClass: tmpl-home
---
<div class="home hero">
  <img
      src="img/bg5.jpg"
      alt="desk of a phd student"
/>
  <div class="copy">
    <h1>
      <div class="heading">PhDs of India</div>
      <div class="subheading">
          Bringing You Stories of Indian Research Scholars
        </div>
    </h1>
  </div>
</div>
{{ content | safe }}
